@page "/admin/members"
@model App.Admin.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các role (vai trò)";
}
<h2>@ViewData["Title"]</h2>


<partial name="_StatusMessage" model="@Model.StatusMessage" />

<p>Tổng số thành viên: @Model.totalUsers</p>

<table class="table">
      <tr>
        <th>Tên User</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if(string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark" asp-page="./AddRole" asp-route-id="@user.Id">+Thêm role</a>
                }
                else
                {
                    <a class="" asp-page="./AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                }
                
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-page="./SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>
                
            </td>
        </tr>
    }
</table>

@{
    var pagingmodel = new App.Helper.PagingModel(){
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = (int? p) => Url.Page("./Index", new {pages = p})
    };
}
<partial name="_Paging" model="pagingmodel"/>