@page "/xoa-bai-viet/{id:int}/"
@model App.Pages_Blog.DeleteModel

@{
    ViewData["Title"] = "Xóa bài viết";
}

<h1>Xóa</h1>

<h3>Bạn chắc chắn muốn xóa ?</h3>
<div>
    <h4>Bài viết</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Content)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Article.ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-page="./Index">Danh sách bài viết</a>
    </form>
</div>
