@page "/blog"
@model App.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Các bài viết";
    int i = 0;
}



<h1>Các bài viết</h1>


<br>
<form method="get" asp-page="./Index">
    <p>
        Tìm kiếm bài viết: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Tìm" />
    </p>
</form>
<br>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].PublishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    @(++i)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.ID">Chỉnh sửa</a> |<br>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.ID">Xem chi tiết</a> |
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<p>
    <a class="btn btn-primary" asp-page="Create">Tạo bài viết mới</a>
</p>

@{
    var pagingmodel = new App.Helper.PagingModel(){
        currentPage = Model.currentPage,
        countPages = Model.countPages,
        generateUrl = (int? p) => Url.Page("/Blog/Index", new {pages = p})
    };
}
<partial name="_Paging" model="pagingmodel"/>